# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv
.env

# OS generated
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Coverage reports
coverage/

# Build files
dist/
build/

# PM2 logs
pids/
*.pid
*.seed

# Optional npm cache
.npm/

# Test files output
test-output/

# Others
.env.*      # in case you use multiple env files (e.g., .env.production)

/generated/prisma

#keys

keys/
*pem